@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Florida<br />
    Orlando, FL 33333<br />
    <abbr title="Phone">P:</abbr>
    407.777.7777
</address>

<address>
    <strong>Support:</strong>   <a href="github.com/programmedmikey">Programmedmikey@gmail.com</a><br />
 </address>